.VideoFooter {
    position: relative;
    bottom: 150px;
    display: flex;
    padding: 0 20px;

    .videoFooterText {
        flex: 1;

        h3,
        p {
            padding-bottom: 20px;
        }

    }

    .videoFooterIMG {
        animation: spin infinite 5s linear;
        height: 50px;
        filter: invert(1);
        position: absolute;
        bottom: 0;
        right: 20px;
    }

    .VideoFooter-icon {
        position: absolute;
    }

    .videoFooterTicker p {
        height: fit-content;
        width: 100%;
        margin-left: 30px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}